.text-sm {
    font: var(--text-sm);
}

.text-md {
    font: var(--text-md);
}

.title-md {
    font: var(--title-md);
}

.subtitle {
    font: var(--subtitle);
}

.red {
    color: var(--red);
}

.purple {
    color: var(--purple);
}